main {
    width: 100%;
    height: 93vh;
    display: flex;
    flex-direction: column;
}

.plano-recorrencia-ou-mensal{
    padding: 5vh 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.meio-pagamento{
    padding: 5vh 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}