.add-swap-payment {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px 0px;
}

.plano-recorrencia-ou-mensal{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plano-atual{
    font-size: 20px;
    background-color: #019ed3;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.meio-pagamento{
    font-size: clamp(1.25rem, 1.125rem + 0.5vw, 1.5rem);
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}