.rejection-adaptation{
    padding: 10vh 16px;
    width: 100%;
    min-height: 61vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #fff;
    width: 80vw;
    margin-bottom: 5vh;
    padding: 10px;
    text-align: start;
}

@media(max-width:999px) {
    .rejection-adaptation{
        padding-right: 30px;
    }
}