.discipline {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding-right: 20px;
}

.rejection-adaptation{
    padding: 10vh 3vw;
    width: 100%;
    min-height: 61vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registration{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border: 1px solid #fff;
    width: 100%;
    margin-bottom: 2vh;
    padding: 10px;
    text-align: start;
}

.registration span{
    font-size: 1rem;
}

.select-diploma{
    width: 100%;
    text-align: start;
}

@media(max-width:999px) {
    .discipline{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: start;
    }
}

