.card-drop{
    background-color: #fff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0px 7px 11px -1px var(--primary-dark-blue-alt);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    color: #000;
    text-align: start;
}