.card-form-container {
    padding: 160px 45px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    margin-top: 30vh;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-preview {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 26%, rgba(9, 9, 121, 1) 71%, rgba(2, 0, 36, 1) 100%);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:  relative;
    margin-bottom: -290px;
    min-height: 250px;
}


.card-form-container .card-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

.banner-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.card-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number-card span{
    font-size: 2.2rem;
}

.name-validity-card{
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.name-validity-card span{
    font-size: .8rem;
}

.name-validity-card-value{
    display: flex;
    justify-content: space-between;
}

.name-validity-card-value span{
    font-size: 1.25rem;
}

.title-card-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #000;
    gap: 10px;
}

.title-card-form-validaty{
    display: flex;
    align-items: start;
    color: #000;
    gap: 20px;
}

.title-card-form-cvv{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #000;
    gap: 10px;
}

.expiration-cvv{
    display: flex;
    justify-content: space-between;
}

.card-input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    font-size: 1.2em;
    padding: 5px 15px;
    font-family: "Source Sans Pro", sans-serif;
}

.card-input-validaty{
    height: 50px;
    width: 60px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    font-size: 1.2em;
    padding: 5px 15px;
    font-family: "Source Sans Pro", sans-serif;
}

.card-input-cvv{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    font-size: 1.2em;
    padding: 5px 15px;
    font-family: "Source Sans Pro", sans-serif;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 50px;
    font-family: "Source Sans Pro", sans-serif;
}

.cadastro{
    font-weight: 500;
    font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
    font-family: "Quicksand", sans-serif;
    background-color: #103C6B;
    padding: 20px;
    width: 100%;
    border-radius: 9px;
    box-shadow: 0px 5px 14px -7px #2e2e2e;
}


@media (max-width: 600px) {

    .number-card span {
        font-size: 1.5rem;
    }

    .name-validity-card-value span{
        font-size: 1rem;
    }

    .card-form-container {
        width: 95%;
        margin-top: 25vh;
    }

    .card-preview {
        width: 80%;
        min-height: 190px;
    }

    .expiration-cvv {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .title-card-form{
        width: 100%;
    }

    .title-card-form-validaty input{
        width: 100%;
    }

    .title-card-form-cvv{
        width: 100%;
        display: flex;
        align-items: start;
    }

    .title-card-form-cvv input{
        width: 100%;
    }

}

@media (max-width: 400px) {
    .number-card span {
        font-size: 1.1rem;
    }
    .card-preview {
        width: 80%;
        min-height: 170px;
    }
}