.card-form-container {
    padding: 160px 45px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    margin-top: 30vh;
    width: 550px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-preview {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 26%, rgba(9, 9, 121, 1) 71%, rgba(2, 0, 36, 1) 100%);
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 250px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position:  absolute;
    z-index: 1;
}


.card-form-container .card-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Para incluir padding na largura total */
  }

.banner-card {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.card-data{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.number-card span{
    font-size: 2.2rem;
}

.name-validity-card{
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
}

.name-validity-card span{
    font-size: .8rem;
}

.name-validity-card-value{
    display: flex;
    justify-content: space-between;
}

.name-validity-card-value span{
    font-size: 1.25rem;
}

.title-card-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #000;
    gap: 10px;
}

.title-card-form-validaty{
    display: flex;
    align-items: start;
    color: #000;
    gap: 20px;
}

.title-card-form-cvv{
    display: flex;
    flex-direction: column;
    align-items: end;
    color: #000;
    gap: 10px;
}

.expiration-cvv{
    display: flex;
    justify-content: space-between;
}

.card-input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
}

.card-input-validaty{
    height: 50px;
    width: 60px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
}

.card-input-cvv{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}


/* .card-preview span {
    margin-bottom: 10px;
}

.card-preview .card-number {
    font-size: 1.2em;
}

.card-preview .card-name {
    font-size: 0.9em;
}

.card-preview .card-expiration {
    font-size: 0.9em;
}

.card-preview .card-brand {
    width: 50px;
    margin-top: 10px;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    font-size: 0.8em;
    margin-bottom: 5px;
}

.input-container input {
    width: 100%;
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.expiration-cvv {
    display: flex;
}

.expiration-cvv input {
    flex: 1;
    margin-right: 10px;
} */