body {
    font-size: 14px !important;
    line-height: 15px !important;
    font-family: 'Quicksand', sans-serif;
    background-image: url(../../assets/back.jpg);
    text-align: center;
    color: #fff;
}

header{
    display: flex;
    justify-content: end;
    padding-right: 4vh;
    padding-top: 2vh;
}

.icon-bars{
    display: flex;
    background-color: #fff;
    padding: 12px;
    border-radius: 4px;
}
.icon-bars svg{
    color: #000;
    font-size: 1.15rem;
}

.logo-sumare{
    width: 500px;
    height: 100%;
}

h1{
    font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
}

.lista-assuntos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    padding-right: 10vw;
    padding-left: 10vw;
}

@media (max-width: 600px) {
   .logo-sumare{
        width: 95%;
    }
}