.button-check {
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: clamp(0.75rem, 0.5rem + 1vw, 1.25rem);
    font-family: "Quicksand", sans-serif;
    background-color: var(--secondary-dark-yellow);
    padding: 20px;
    border-radius: 9px;
    box-shadow: 0px 5px 14px -7px #2e2e2e;
    transition: ease 0.5s;
    border: 0;
    color: #fff;
}

.list-check {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    width: 80vw;
    padding: 32px;
    background-color: #fff;
    border-radius: 16px;
    gap: 32px;
}

@media (max-width: 999px) {
    .list-check{
        width: 100%;
    }
}