.logo-sumare-password{
    width: 300px;
}

.forget-password{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card-password{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    border: 4px solid var(--primary-light-blue);
    border-radius: 24px;
    color: white;
    width: 500PX;
    justify-content: center;
    padding: 40px 60px;
    box-shadow: 0px 0px 10px -5px #ccc;
}

.card-password h2 {
    font-size: clamp(1.3rem, 0.95rem + 1vw, 1.7rem);
    font-weight: 600;
}

.card-password p {
    font-size: 1rem;
    text-align: start;
}

.card-password span {
    font-size: clamp(0.7rem, 0.55rem + 0.6vw, .8rem) !important;
    font-weight: 500;
    text-align: start;
}

.input-ra{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
}

.input-codigo{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
}

.input-senha{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 6px;
    border: 0;
}

.button-password{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 50px;
    cursor: pointer;
    letter-spacing: 2px;
    border: 1px solid var(--primary-light-blue);
    box-shadow: 0px 0px 30px -5px var(--primary-light-blue);
    text-align: center;
    border-radius: 20px;
    transition: .5s ease;
    background: transparent !important;
    color: #fff;
    font-weight: 700;
    font-size: clamp(0.875rem, 0.8125rem + 0.25vw, 1rem);
}

.button-password:hover{
    background: var(--primary-light-blue) !important;
}

@media (max-width: 600px) {
    .card-password {
        width: 90%;
        padding: 40px 20px;
    }
    .card-password p {
        font-size: .9rem;
    }
}