.declaration-content-records {
    width: 80vw;
    padding: 10px;
    font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem);
    color: #333;
    border: 1px solid var(--neutral-light-gray);
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
    overflow-x: auto;
}

.declaration-content-records p {
    text-align: start;
}

.card-declaration {
    background-color: #fff;
    width: 85vw;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 7px 11px -1px var(--primary-dark-blue-alt);
    padding: 15px 12px;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.declaration-content {
    width: 80vw;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #333;
    border: 1px solid var(--neutral-light-gray);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.declaration-content-conclusion {
    width: 80vw;
    padding: 20px;
    font-size: 16px;
    text-align: justify;
    color: #333;
    border: 1px solid var(--neutral-light-gray);
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.declaracao {
    width: 200px;
    height: auto;
}

.logo-sumare-azul {
    width: 250px;
}

.print-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.print-area-school-records {
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: start;
    gap: 20px;
}

.declaration-content-print {
    margin-top: 120px;
    padding: 20px;
    font-size: 16px;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

/*------PRINT DO HISTÓRICO ESCOLAR-------*/
.print-area-school-records {
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.describe-uni{
    display: flex;
    gap: 20px;
    font-size: 0.8rem;
}

.describe-uni img{
    width: auto;
    height: 50px;
}

.declaration-content-records-print {
    padding: 10px;
    font-size: 0.7rem;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.declaration-content-records-print h2 {
    text-align: center;
}

.historico-escolar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.historico-escolar p {
    flex: 1 1 45%;
}
/*-------------------------------------*/



/*------PRINT DA DECLARAÇÃO DE CONCLUSÃO-------*/
.print-area-statement-conclusion{
    padding: 40px;
    width: 100vw;
    height: 100vh;
    text-align: justify;
}

.declaration-content-conclusion-print {
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.declaration-conclusion {
    display: flex;
    flex-direction: column;
    height: 40%;
    gap: 80px;
}

.declaration-conclusion h2{
    text-align: center;
}

.declaration-conclusion-ass {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    padding-top: 20%;
}
/*-------------------------------------*/

@page {
    margin: 40px;
}