.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding: 0px 32px;
    background-color: #fff;
}

.header h1 {
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
}

.icon{
    display: flex;
    background-color: var(--light-blue);
    padding: 8px;
    border-radius: 6px;
}

.icon svg{
    color: #fff;
    font-size: 1rem;
}