.footer-double {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24vh;
    padding: 0px 32px;
    background-color: #fff;
    gap: 10px;
}
