.pix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container-pix {
    border-top: 1px solid var(--neutral-light-gray);
    background-color: #fff;
    color: #000;
    width: 100%;
    gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.amount-payable {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.icon-pix{
    background-color: var(--primary-light-blue);
    padding: 15px;
    border-radius: 50%;
}
.icon-pix svg{
    width: 50px;
    height: 50px;
    color: #fff;
}

.total-pix {
    font-weight: 700;
    font-family: system-ui;
    color: var(--primary-light-blue);
    font-size: clamp(1.875rem, 1.5rem + 1.5vw, 2.625rem);
}

.card-copia-pix{
    width: 90vw;
    height: auto;
    border-radius: 14px;
    padding:  20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}