.card-select-period {
    background-color: #fff;
    width: 85vw;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 7px 11px -1px var(--primary-dark-blue-alt);
    padding: 20px 40px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: start;
}

.select-period-start {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.select-period-end {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.select-period {
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
}

.date-picker {
    border: 1px solid var(--neutral-dark-gray-alt);
    border-radius: 5px;
    padding: 10px 40px 10px 35px;
    font-size: 1rem;
    width: 100%;
}

.date-picker-icon {
    position: absolute;
    left: 10px;
    pointer-events: none;
    color: #007bff;
    font-size: 20px;
}

.select-period{
    width: 100%;
}

.react-datepicker-wrapper{
    width: 100%;
}

@media(max-width: 600px) {
    .card-select-period{
        width: 100%;
        padding: 20px 30px;
    }
}