* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-light-blue: #019ED3;
  --primary-dark-blue: #103C6B;
  --primary-dark-blue-alt: #0B2442;
  --secondary-light-red: #DC143C;
  --secondary-dark-red: #FF0000;
  --secondary-light-yellow: #EEAD2D;
  --secondary-dark-yellow: #F79F34;
  --success-light-green: #00CC00;
  --custom-green: #03BB85;
  --success-dark-green: #1EBB6B;
  --success-dark-green-alt: #05A07D;
  --neutral-light-gray: #CCCCCC;
  --neutral-dark-gray: #8F8F8F;
  --neutral-dark-gray-alt: #CED6E0;
  --warning-light-orange: #FF7F50;
}


html,
body,
#root {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style-type: none;
}

textarea {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  border: 1px solid var(--neutral-dark-gray-alt);
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  height: 100px;
  resize: none;
  outline: none;
  box-shadow: 0px 4px 10px -6px #4c4c4c;
  overflow-wrap: break-word;
  line-height: 20px;
  background-color: transparent;
}