.course-cancellation{
    min-height: 93vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-cancellation {
    background-color: #fff;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0px 7px 11px -1px #0b2442;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: #000;
}

.modal-cancellation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.close-modal-button {
    font-size: 2.5rem;
    cursor: pointer;
    text-align: end;
}

.modal-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
}

.modal-button.confirm {
    background-color: #DC143C;
    color: white;
    transition: ease 1s;
}

.modal-button.cancel {
    background-color: #ccc;
    color: black;
    transition: ease 1s;
}

.modal-button.confirm:hover {
    background-color: #b0001b;
}

.modal-button.cancel:hover {
    background-color: #999;
}



@media (max-width: 600px) {
    .card-cancellation {
        width: 90%;
    }
    .course-cancellation span {
        width: 100%;
        text-align: start;
    }
}
