.handbag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 93vh;
    gap: 20px;
    padding: 20px;
}

.teste{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

.teste2 {
    display: flex;
    flex-direction: column;
    align-items: start;
}