.handbag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 93vh;
}

.form-handbag {
    display: flex;
    flex-direction: column;
    width: 80vw;
    padding: 16px;
    height: auto;
    background-color: #fff;

}